<mat-toolbar>
    <span>Register</span>
</mat-toolbar>
<br><br><br>
<div class = "form-body">
  <p style = "text-align:center"> {{ error }} </p>
    <form #register = "ngForm" (ngSubmit) = "Register(register.value)">
      <p style = "text-align:center"></p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Your username" name = "username" id = "username" ngModel>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Your email" name = "email" id = "email" ngModel>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Your desired Password" name = "pass" ngModel>
    </mat-form-field>
    <button mat-raised-button color="warm" style="text-align: center;">Register</button>
    </form>
</div>